*{
    padding: 0;
    list-style:none;
}
.heading{
    margin: 0 0px 20px;
    background-color: rgb(182, 158, 158);
    padding: 30px 10px;
}
img{
    vertical-align: bottom;
}
.banner img{
    width: 100%;
}
.item-group{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.title h2{
    margin: 0 0px 20px;
    background-color: rgb(182, 158, 158);
    padding: 30px 10px;
    font-size: 46px;
}
.title p{
    background-color: rgb(238, 209, 209);
    font-size: 22px;
    padding: 30px 10px;
    margin: 0 0px 20px;
}
.item{
    margin: 0 10px 40px;
}
.item .pic img{
    width: 100%;
}
.item .text h3{
    font-size: 22px;
    text-align: center;
}
.service .text{
    font-size: 30px;
    color: rgb(92, 92, 235);
}
@media screen and (min-width:768px){
    .item-group{
        display: flex;
    }
    .service .item{
        display: flex;
    }
    .service .item .pic,
    .service .item .text{
        width: 50%;
        margin: 0;
    }
    .service .item .text{
        display: flex;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
    }
}